<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeManage</servlet-name>
        <servlet-class>controller.HomeManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeGuest</servlet-name>
        <servlet-class>controller.HomeGuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomManage</servlet-name>
        <servlet-class>controller.RoomManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomManage</servlet-name>
        <servlet-class>controller.AddRoomManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomManage</servlet-name>
        <servlet-class>controller.DeleteRoomManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomManage</servlet-name>
        <servlet-class>controller.EditRoomManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesManage</servlet-name>
        <servlet-class>controller.ServicesManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServicesManage</servlet-name>
        <servlet-class>controller.AddServicesManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServicesManage</servlet-name>
        <servlet-class>controller.DeleteServicesManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServicesManage</servlet-name>
        <servlet-class>controller.EditServicesManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractManage</servlet-name>
        <servlet-class>controller.ContractManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContractManage</servlet-name>
        <servlet-class>controller.AddContractManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManage</servlet-name>
        <servlet-class>controller.CustomerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerManage</servlet-name>
        <servlet-class>controller.AddCustomerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerManage</servlet-name>
        <servlet-class>controller.EditCustomerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerManage</servlet-name>
        <servlet-class>controller.DeleteCustomerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoomForCustomerManage</servlet-name>
        <servlet-class>controller.ChangeRoomForCustomerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContractManage</servlet-name>
        <servlet-class>controller.EditContractManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelContractManage</servlet-name>
        <servlet-class>controller.CancelContractManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalysticManage</servlet-name>
        <servlet-class>controller.AnalysticManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTransactionsManage</servlet-name>
        <servlet-class>controller.AddTransactionsManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTransactionsManage</servlet-name>
        <servlet-class>controller.EditTransactionsManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTransactionsManage</servlet-name>
        <servlet-class>controller.DeleteTransactionsManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewContractManage</servlet-name>
        <servlet-class>controller.ViewContractManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManage</servlet-name>
        <servlet-class>controller.AccountManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountManage</servlet-name>
        <servlet-class>controller.EditAccountManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountManage</servlet-name>
        <servlet-class>controller.AddAccountManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountGuest</servlet-name>
        <servlet-class>controller.EditAccountGuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestGuest</servlet-name>
        <servlet-class>controller.RequestGuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRequestGuest</servlet-name>
        <servlet-class>controller.AddRequestGuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestGuest</servlet-name>
        <servlet-class>controller.DeleteRequestGuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRequestGuest</servlet-name>
        <servlet-class>controller.EditRequestGuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRequestManage</servlet-name>
        <servlet-class>controller.EditRequestManageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeManage</servlet-name>
        <url-pattern>/HomeManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeGuest</servlet-name>
        <url-pattern>/HomeGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomManage</servlet-name>
        <url-pattern>/RoomManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomManage</servlet-name>
        <url-pattern>/AddRoomManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomManage</servlet-name>
        <url-pattern>/DeleteRoomManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomManage</servlet-name>
        <url-pattern>/EditRoomManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesManage</servlet-name>
        <url-pattern>/ServicesManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServicesManage</servlet-name>
        <url-pattern>/AddServicesManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServicesManage</servlet-name>
        <url-pattern>/DeleteServicesManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServicesManage</servlet-name>
        <url-pattern>/EditServicesManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractManage</servlet-name>
        <url-pattern>/ContractManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContractManage</servlet-name>
        <url-pattern>/AddContractManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManage</servlet-name>
        <url-pattern>/CustomerManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerManage</servlet-name>
        <url-pattern>/AddCustomerManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerManage</servlet-name>
        <url-pattern>/EditCustomerManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerManage</servlet-name>
        <url-pattern>/DeleteCustomerManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoomForCustomerManage</servlet-name>
        <url-pattern>/ChangeRoomForCustomerManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContractManage</servlet-name>
        <url-pattern>/EditContractManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelContractManage</servlet-name>
        <url-pattern>/CancelContractManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalysticManage</servlet-name>
        <url-pattern>/AnalysticManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTransactionsManage</servlet-name>
        <url-pattern>/AddTransactionsManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTransactionsManage</servlet-name>
        <url-pattern>/EditTransactionsManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTransactionsManage</servlet-name>
        <url-pattern>/DeleteTransactionsManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewContractManage</servlet-name>
        <url-pattern>/ViewContractManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManage</servlet-name>
        <url-pattern>/AccountManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountManage</servlet-name>
        <url-pattern>/EditAccountManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountManage</servlet-name>
        <url-pattern>/AddAccountManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountGuest</servlet-name>
        <url-pattern>/EditAccountGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestGuest</servlet-name>
        <url-pattern>/RequestGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRequestGuest</servlet-name>
        <url-pattern>/AddRequestGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestGuest</servlet-name>
        <url-pattern>/DeleteRequestGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRequestGuest</servlet-name>
        <url-pattern>/EditRequestGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRequestManage</servlet-name>
        <url-pattern>/EditRequestManage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
