<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeManage</servlet-name>
        <servlet-class>controller.HomeManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeCustomer</servlet-name>
        <servlet-class>controller.HomeCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomManage</servlet-name>
        <servlet-class>controller.RoomManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomManage</servlet-name>
        <servlet-class>controller.AddRoomManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomManage</servlet-name>
        <servlet-class>controller.DeleteRoomManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomManage</servlet-name>
        <servlet-class>controller.EditRoomManageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeManage</servlet-name>
        <url-pattern>/HomeManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeCustomer</servlet-name>
        <url-pattern>/HomeCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomManage</servlet-name>
        <url-pattern>/RoomManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomManage</servlet-name>
        <url-pattern>/AddRoomManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomManage</servlet-name>
        <url-pattern>/DeleteRoomManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomManage</servlet-name>
        <url-pattern>/EditRoomManage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
